<div class="modal" id="errorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span id="errorMessage"></span>
            </div>
        </div>
    </div>
</div>