<div id="opponentFieldContainer" class="container-fluid bg-3 text-center row col-lg-12">
        <div class="col-md-2">
            <span class="fieldText">Prize Cards</span>
            <img class="cardOnField" src="/public/img/cardBack.png">
          </div>
          <div class="col-md-8 row">
            <div class="col-md">
            </div>
            <div id="opponentMainCard" class="col-md">
            </div>
            <div class="col-md">
            </div>
          </div>
          <div class="col-md-2">
            <span class="fieldText">Throne of Heroes</span>
            <img class="cardOnField" src="/public/img/45.png">
          </div>
    </div>
    <div id="selfFieldContainer" class="container-fluid bg-3 text-center row col-lg-12">
      <div class="col-md-2">
        <span class="fieldText">Prize Cards</span>
        <img class="cardOnField" src="/public/img/cardBack.png">
      </div>
      <div class="col-md-8 row">
          <div class="col-md">
          </div>
          <div id="mainCard" class="col-md">
          </div>
          <div class="col-md">
          </div>
      </div>
      <div class="col-md-2">
        <span class="fieldText">Throne of Heroes</span>
        <img class="cardOnField" src="/public/img/38.png">
      </div>
    </div>
    <div id="userHand" class="row col-md-12"></div>
    <div id="opponentHandContainer" class="row col-md-12"></div>