<div class="col-md-4"></div>
<div class="col-md-8 deckContainer">
    <% if (hand) { %>
        <% if (hand.length > 0) { %>
            <img data-id="<%= hand[0] %>" class="servantInHand hoverCard" src="/public/img/<%= hand[0] %>.png">
        <% } %>
        <% for (var i = 1; i < hand.length; i++) { %>
            <img data-id="<%= hand[i] %>" class="servantInHand" src="/public/img/<%= hand[i] %>.png">
        <% } %>
    <% } %> 
</div>

<script>
    $('.servantInHand').hover(function() {
        $('.servantInHand').removeClass('hoverCard');
        $(this).addClass('hoverCard');
    });

    $('.servantInHand').click(function() {
        $('#enlargedCard').attr('src', $(this).attr('src'));
        $('#enlargedCard').data('id', $(this).data('id'));
        $('#cardModal').modal();
    });
</script>