<div class="col-md-4"></div>
<div class="col-md-8 deckContainer">
    <% for (var i = 0; i < hand.length; i++) { %>
        <img class="opponentHand" src="/public/img/cardBack.png">
    <% } %>
</div>
    