<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
<div id="boardContainer" class="container-fluid bg-3 text-center">    
  <h3><%= user.username %></h3><br>
  welp
</div>
</body>
<% include partials/script %>
</html>