<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
<div id="cardModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <img class="modal-content" id="enlargedCard">
            </div>
            <div class="modal-footer">
                <div class="cardModalBtns">
                    <button id="placeServantBtn" class="btn btn-success" data-dismiss="modal">Place Servant</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gameModal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label>Game ID:</label>
          <input type="text" class="form-control" id="gameIdInput" placeholder="Enter game id to join an existing server...">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="Enter a username...">
          </div>
      </div>
      <div class="modal-footer">
          <div class="cardModalBtns">
              <button id="createServerBtn" class="btn btn-primary" data-dismiss="modal">Create Server</button>
              <button id="joinServerBtn" class="btn btn-primary" data-dismiss="modal">Join Server</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="field">
</div>
</body>
<% include partials/script %>
<script>
    var socket = io();
  // TODO: Extract to seperate js file/clean up
  $(function () {
    $('#gameModal').modal();

    socket.on('initField', function(data) {
      $('#field').html(data);
    });
    socket.on('roomCreated', function(data) {
      $('#field').html('<span class="tmp">Game Id: '+data.gameId+'</span><br><span class="tmp">Waiting for player to connect...</span>');
    });
    socket.on('updated-hand', function(data) {
      $('#userHand').html(data);
    });
    socket.on('updated-opponent-hand', function(data) {
      $('#opponentHandContainer').html(data);
    });
    socket.on('joinSuccess', function(data) {
      console.log(data, null, 2);
    });
    socket.on('initGame', function() {
      socket.emit('initGame');
      socket.emit('updateHand');
      socket.emit('updateOpponentHand');
    });

    // field events
    socket.on('opponentPlayedServant', function() {
      $('#opponentMainCard').html('<img class="cardOnField cardInPlay opponentCard" src="/public/img/cardBack.png">');
    });
    socket.on('placeServant', function(data) {
      if (data.success) {
        $('#mainCard').html('<img class="cardOnField cardInPlay" src="/public/img/'+data.servantId+'.png">');
      } else {
        console.log('you do not have this card.')
      }
    });

    $('#placeServantBtn').click(function() {
      socket.emit('playServant', { servantId: $('#enlargedCard').data('id') });
    });
    $('#createServerBtn').click(function() {
      socket.emit('createGameInstance', { username: $('#usernameInput').val()});
    });
    $('#joinServerBtn').click(function() {
      socket.emit('joinRoom', {username: $('#usernameInput').val(), gameId: $('#gameIdInput').val()});
    });
  });
</script>
</html>